<div class="add-product-container">
    <h2>Add Product</h2>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
  
      <label for="description">Description:</label>
      <input type="text" id="description" name="description">
  
      <label for="date_release">Date Release:</label>
      <input type="date" id="date_release" name="date_release">
  
      <label for="date_revision">Date Revision:</label>
      <input type="date" id="date_revision" name="date_revision">
  
      <button type="submit">Add Product</button>
    </form>
  </div>
  