.add-product-container {
    max-width: 650px; 
    margin: 30px auto;
    padding: 10px 0px;
    background-color: #fff;
    
  }
  
  h2 {
    text-align: center;
  }
  .productForm {
    padding: 15px 40px;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .column {
    flex: 1;
    min-width: 0; 
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
  }
  
  .send-button, .restart-button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .send-button {
    background-color: rgb(249 205 11 / 100%); 
    color: #000;
    font-size: 16px;
    font-weight: bold;;
  }
  
  .restart-button {
    background-color: #F3F3F3;
    border: solid 1px #CCC;
    font-size: 16px;
    font-weight: bold;;
  }

  .send-button:hover, .restart-button:hover {
    opacity: .5;
  }
  
  .error {
    color: #d9534f;
    font-size: 0.875em;
  }
  
  
  @media (max-width: 480px) {
    .form-row {
      flex-direction: column; 
    }
  
    .column {
      margin-right: 0; 
    }
  }
  