.add-product-container {
    max-width: 750px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .column {
    flex: 1;
    min-width: 0; 
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: #d9534f;
    font-size: 0.875em;
  }
  
  
  @media (max-width: 480px) {
    .form-row {
      flex-direction: column; 
    }
  
    .column {
      margin-right: 0; 
    }
  }
  