<div class="content-container">
    <!-- <app-search (searchChanged)="onSearchTermChanged($event)"></app-search> -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha de lanzamiento</th>
                    <th>Fecha de revisión</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td class="avatar-cell">
                        <div class="avatar">{{ getInitials(product.name) }}</div>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.date_release }}</td>
                    <td>{{ product.date_revision }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="results-label">
        {{ filteredProducts.length }} Resultados
    </div>
</div>