<div class="modal">
    <!-- modal.component.html -->
<form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="newProduct.name" name="name" required>
    </div>
    
    <div>
      <label for="description">Description:</label>
      <input type="text" id="description" [(ngModel)]="newProduct.description" name="description" required>
    </div>
    
    <div>
      <label for="logo">Logo:</label>
      <input type="text" id="logo" [(ngModel)]="newProduct.logo" name="logo">
    </div>
  
    <div>
      <label for="date_release">Date Release:</label>
      <input type="date" id="date_release" [(ngModel)]="newProduct.date_release" name="date_release">
    </div>
  
    <div>
      <label for="date_revision">Date Revision:</label>
      <input type="date" id="date_revision" [(ngModel)]="newProduct.date_revision" name="date_revision">
    </div>
  
    <button type="submit">Add Product</button>
  </form>
  
</div>